In [98]:
import requests
import pandas as pd
from config import api_key
# Insert your API key
#API_KEY = "Team-Project-3/config.py"

In [99]:
# Top 10 world cities
CITIES = [
    {"city": "Tokyo", "lat": 35.6895, "lon": 139.6917, "population": 13929286},
    {"city": "Delhi", "lat": 28.7041, "lon": 77.1025, "population": 27882721},
    {"city": "Shanghai", "lat": 31.2304, "lon": 121.4737, "population": 24256800},
    {"city": "São Paulo", "lat": -23.5505, "lon": -46.6333, "population": 21571281},
    {"city": "Mumbai", "lat": 19.0760, "lon": 72.8777, "population": 21558265},
    {"city": "Mexico City", "lat": 19.4326, "lon": -99.1332, "population": 21782378},
    {"city": "Beijing", "lat": 39.9042, "lon": 116.4074, "population": 21516000},
    {"city": "Osaka", "lat": 34.6937, "lon": 135.5023, "population": 19222665},
    {"city": "New York", "lat": 40.7128, "lon": -74.0060, "population": 18804000},
    {"city": "Cairo", "lat": 30.0444, "lon": 31.2357, "population": 20095952}
  ]

In [100]:

# Create an empty list to store air pollution data for each city
air_pollution_data_list = []

# Loop through the cities and make API calls for historical air pollution data
for city in CITIES:
    lat = city["lat"]
    lon = city["lon"]
    city_name = city["city"]

    # Set the start and end dates for historical data
    start = 1641016800  # Start date 01-01-2022
    end = 1672552799  #  End date 31-12-2022

    # Make API call
    url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
    response = requests.get(url)

    # Check if API call was successful
    if response.status_code == 200:
        # Extract air pollution data from response
        air_pollution_data = response.json()

        # Append the air pollution data for this city to the final list
        air_pollution_data_list.append(air_pollution_data)

In [101]:
air_pollution_df = pd.json_normalize(air_pollution_data_list,record_path="list", meta=['coord'])
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,coord
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,"{'lon': 139.6917, 'lat': 35.6895}"
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,"{'lon': 139.6917, 'lat': 35.6895}"
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,"{'lon': 139.6917, 'lat': 35.6895}"
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,"{'lon': 139.6917, 'lat': 35.6895}"
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,"{'lon': 139.6917, 'lat': 35.6895}"
...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,"{'lon': 31.2357, 'lat': 30.0444}"
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,"{'lon': 31.2357, 'lat': 30.0444}"
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,"{'lon': 31.2357, 'lat': 30.0444}"
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,"{'lon': 31.2357, 'lat': 30.0444}"
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,"{'lon': 31.2357, 'lat': 30.0444}"

In [102]:
air_pollution_df.columns

Index(['dt', 'main.aqi', 'components.co', 'components.no', 'components.no2',
       'components.o3', 'components.so2', 'components.pm2_5',
       'components.pm10', 'components.nh3', 'coord'],
      dtype='object')

In [103]:
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,coord
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,"{'lon': 139.6917, 'lat': 35.6895}"
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,"{'lon': 139.6917, 'lat': 35.6895}"
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,"{'lon': 139.6917, 'lat': 35.6895}"
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,"{'lon': 139.6917, 'lat': 35.6895}"
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,"{'lon': 139.6917, 'lat': 35.6895}"
...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,"{'lon': 31.2357, 'lat': 30.0444}"
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,"{'lon': 31.2357, 'lat': 30.0444}"
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,"{'lon': 31.2357, 'lat': 30.0444}"
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,"{'lon': 31.2357, 'lat': 30.0444}"
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,"{'lon': 31.2357, 'lat': 30.0444}"

In [104]:
# Define a function to split 'coord' column into 'longitude' and 'latitude'
def split_coord(coord):
    return pd.Series([coord['lon'],coord['lat']])

# Apply the function to 'coord' column to create 'longitude' and 'latitude' columns
air_pollution_df[['longitude', 'latitude']] = air_pollution_df['coord'].apply(split_coord)

# Drop the original 'coord' column
air_pollution_df.drop('coord',axis=1,inplace=True)

In [105]:
cities_df = pd.DataFrame(CITIES)
cities_df.columns

Index(['city', 'lat', 'lon', 'population'], dtype='object')

In [106]:
new_columns_name = ['city', 'latitude', 'longitude', 'population']
cities_df.columns= new_columns_name
cities_df

          city  latitude  longitude  population
0        Tokyo   35.6895   139.6917    13929286
1        Delhi   28.7041    77.1025    27882721
2     Shanghai   31.2304   121.4737    24256800
3    São Paulo  -23.5505   -46.6333    21571281
4       Mumbai   19.0760    72.8777    21558265
5  Mexico City   19.4326   -99.1332    21782378
6      Beijing   39.9042   116.4074    21516000
7        Osaka   34.6937   135.5023    19222665
8     New York   40.7128   -74.0060    18804000
9        Cairo   30.0444    31.2357    20095952

In [107]:
air_pollution_df = pd.merge(air_pollution_df,cities_df, left_on='latitude',right_on='latitude')

In [108]:
#air_pollution_df.drop('longitude_y',axis=1,inplace=True)
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,longitude_x,latitude,city,longitude_y,population
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,139.6917,35.6895,Tokyo,139.6917,13929286
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,139.6917,35.6895,Tokyo,139.6917,13929286
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,139.6917,35.6895,Tokyo,139.6917,13929286
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,139.6917,35.6895,Tokyo,139.6917,13929286
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,139.6917,35.6895,Tokyo,139.6917,13929286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,31.2357,30.0444,Cairo,31.2357,20095952
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,31.2357,30.0444,Cairo,31.2357,20095952
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,31.2357,30.0444,Cairo,31.2357,20095952
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,31.2357,30.0444,Cairo,31.2357,20095952
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,31.2357,30.0444,Cairo,31.2357,20095952

In [109]:
air_pollution_df['dt'] = pd.to_datetime(air_pollution_df['dt'],unit='s',origin='unix')
air_pollution_df['dt'] = air_pollution_df['dt'].dt.strftime('%Y-%m-%d')

In [110]:
air_pollution_df.drop('longitude_y',axis=1,inplace=True)

In [111]:
updated_pollution_df = air_pollution_df

In [112]:
updated_pollution_df = updated_pollution_df.rename(columns={'dt':'date', 'city':'city', 'longitude_x':'longitude', 'latitude':'latitude', 'main.aqi':'AQI', 'components.co':'CO', 'components.no':'NO', 'components.no2':'NO2',
       'components.o3':'O3', 'components.so2':'SO2', 'components.pm2_5':'PM2_5', 'components.pm10':'PM10', 'components.nh3':'NH3', 'population':'population'})

In [113]:
updated_pollution_df = updated_pollution_df[['date','longitude', 'latitude', 'city', 'population', 'AQI', 'CO', 'NO', 'NO2', 'O3', 'SO2', 'PM2_5', 'PM10', 'NH3',
       ]]
updated_pollution_df.sort_values(by='date')
updated_pollution_df

,date,longitude,latitude,city,population,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3
0,2022-01-01,139.6917,35.6895,Tokyo,13929286,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57
1,2022-01-01,139.6917,35.6895,Tokyo,13929286,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77
2,2022-01-01,139.6917,35.6895,Tokyo,13929286,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01
3,2022-01-01,139.6917,35.6895,Tokyo,13929286,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19
4,2022-01-01,139.6917,35.6895,Tokyo,13929286,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85915,2023-01-01,31.2357,30.0444,Cairo,20095952,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50
85916,2023-01-01,31.2357,30.0444,Cairo,20095952,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47
85917,2023-01-01,31.2357,30.0444,Cairo,20095952,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41
85918,2023-01-01,31.2357,30.0444,Cairo,20095952,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53
85919,2023-01-01,31.2357,30.0444,Cairo,20095952,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07