In [1]:
import requests
import pandas as pd
from config import api_key

In [2]:
# Top 10 world cities
CITIES = [
    {"city": "Tokyo", "lat": 35.6895, "lon": 139.6917, "population": 13929286},
    {"city": "Delhi", "lat": 28.7041, "lon": 77.1025, "population": 27882721},
    {"city": "Shanghai", "lat": 31.2304, "lon": 121.4737, "population": 24256800},
    {"city": "São Paulo", "lat": -23.5505, "lon": -46.6333, "population": 21571281},
    {"city": "Mumbai", "lat": 19.0760, "lon": 72.8777, "population": 21558265},
    {"city": "Mexico City", "lat": 19.4326, "lon": -99.1332, "population": 21782378},
    {"city": "Beijing", "lat": 39.9042, "lon": 116.4074, "population": 21516000},
    {"city": "Osaka", "lat": 34.6937, "lon": 135.5023, "population": 19222665},
    {"city": "New York", "lat": 40.7128, "lon": -74.0060, "population": 18804000},
    {"city": "Cairo", "lat": 30.0444, "lon": 31.2357, "population": 20095952}
  ]

In [3]:

# Create an empty list to store air pollution data for each city
air_pollution_data_list = []

# Loop through the cities and make API calls for historical air pollution data
for city in CITIES:
    lat = city["lat"]
    lon = city["lon"]
    city_name = city["city"]

    # Set the start and end dates for historical data
    start = 1641016800  # Start date 01-01-2022
    end = 1672552799  #  End date 31-12-2022

    # Make API call
    url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
    response = requests.get(url)

    # Check if API call was successful
    if response.status_code == 200:
        # Extract air pollution data from response
        air_pollution_data = response.json()

        # Append the air pollution data for this city to the final list
        air_pollution_data_list.append(air_pollution_data)

In [4]:
air_pollution_df = pd.json_normalize(air_pollution_data_list,record_path="list", meta=['coord'])
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,coord
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,"{'lon': 139.6917, 'lat': 35.6895}"
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,"{'lon': 139.6917, 'lat': 35.6895}"
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,"{'lon': 139.6917, 'lat': 35.6895}"
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,"{'lon': 139.6917, 'lat': 35.6895}"
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,"{'lon': 139.6917, 'lat': 35.6895}"
...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,"{'lon': 31.2357, 'lat': 30.0444}"
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,"{'lon': 31.2357, 'lat': 30.0444}"
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,"{'lon': 31.2357, 'lat': 30.0444}"
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,"{'lon': 31.2357, 'lat': 30.0444}"
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,"{'lon': 31.2357, 'lat': 30.0444}"

In [5]:
air_pollution_df.columns

Index(['dt', 'main.aqi', 'components.co', 'components.no', 'components.no2',
       'components.o3', 'components.so2', 'components.pm2_5',
       'components.pm10', 'components.nh3', 'coord'],
      dtype='object')

In [6]:
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,coord
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,"{'lon': 139.6917, 'lat': 35.6895}"
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,"{'lon': 139.6917, 'lat': 35.6895}"
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,"{'lon': 139.6917, 'lat': 35.6895}"
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,"{'lon': 139.6917, 'lat': 35.6895}"
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,"{'lon': 139.6917, 'lat': 35.6895}"
...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,"{'lon': 31.2357, 'lat': 30.0444}"
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,"{'lon': 31.2357, 'lat': 30.0444}"
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,"{'lon': 31.2357, 'lat': 30.0444}"
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,"{'lon': 31.2357, 'lat': 30.0444}"
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,"{'lon': 31.2357, 'lat': 30.0444}"

In [7]:
# Define a function to split 'coord' column into 'longitude' and 'latitude'
def split_coord(coord):
    return pd.Series([coord['lon'],coord['lat']])

# Apply the function to 'coord' column to create 'longitude' and 'latitude' columns
air_pollution_df[['longitude', 'latitude']] = air_pollution_df['coord'].apply(split_coord)

# Drop the original 'coord' column
air_pollution_df.drop('coord',axis=1,inplace=True)

In [8]:
cities_df = pd.DataFrame(CITIES)
cities_df.columns

Index(['city', 'lat', 'lon', 'population'], dtype='object')

In [9]:
new_columns_name = ['city', 'latitude', 'longitude', 'population']
cities_df.columns= new_columns_name
cities_df

          city  latitude  longitude  population
0        Tokyo   35.6895   139.6917    13929286
1        Delhi   28.7041    77.1025    27882721
2     Shanghai   31.2304   121.4737    24256800
3    São Paulo  -23.5505   -46.6333    21571281
4       Mumbai   19.0760    72.8777    21558265
5  Mexico City   19.4326   -99.1332    21782378
6      Beijing   39.9042   116.4074    21516000
7        Osaka   34.6937   135.5023    19222665
8     New York   40.7128   -74.0060    18804000
9        Cairo   30.0444    31.2357    20095952

In [10]:
air_pollution_df = pd.merge(air_pollution_df,cities_df, left_on='latitude',right_on='latitude')

In [11]:
#air_pollution_df.drop('longitude_y',axis=1,inplace=True)
air_pollution_df

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3,longitude_x,latitude,city,longitude_y,population
0,1641016800,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57,139.6917,35.6895,Tokyo,139.6917,13929286
1,1641020400,1,280.38,1.31,20.05,78.68,16.93,0.78,1.79,0.77,139.6917,35.6895,Tokyo,139.6917,13929286
2,1641024000,1,297.07,0.12,27.42,69.38,20.03,0.94,2.09,1.01,139.6917,35.6895,Tokyo,139.6917,13929286
3,1641027600,1,310.42,0.01,30.85,62.94,21.93,1.06,2.24,1.19,139.6917,35.6895,Tokyo,139.6917,13929286
4,1641031200,1,320.43,0.02,36.67,55.79,26.23,1.17,2.48,1.38,139.6917,35.6895,Tokyo,139.6917,13929286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85915,1672534800,2,317.10,0.02,23.99,28.61,12.76,23.35,48.37,2.50,31.2357,30.0444,Cairo,31.2357,20095952
85916,1672538400,2,313.76,0.02,22.28,27.18,12.28,23.23,43.94,2.47,31.2357,30.0444,Cairo,31.2357,20095952
85917,1672542000,2,310.42,0.03,21.25,28.25,12.16,22.07,39.83,2.41,31.2357,30.0444,Cairo,31.2357,20095952
85918,1672545600,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53,31.2357,30.0444,Cairo,31.2357,20095952
85919,1672549200,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07,31.2357,30.0444,Cairo,31.2357,20095952

In [12]:
air_pollution_df['dt'] = pd.to_datetime(air_pollution_df['dt'],unit='s',origin='unix')
air_pollution_df['dt'] = air_pollution_df['dt'].dt.strftime('%Y-%m-%d')

In [13]:
air_pollution_df.drop('longitude_y',axis=1,inplace=True)

In [14]:
updated_pollution_df = air_pollution_df

In [15]:
updated_pollution_df = updated_pollution_df.rename(columns={'dt':'date', 'city':'city', 'longitude_x':'longitude', 'latitude':'latitude', 'main.aqi':'AQI', 'components.co':'CO', 'components.no':'NO', 'components.no2':'NO2',
       'components.o3':'O3', 'components.so2':'SO2', 'components.pm2_5':'PM2_5', 'components.pm10':'PM10', 'components.nh3':'NH3', 'population':'population'})

In [16]:
updated_pollution_df = updated_pollution_df[['date','longitude', 'latitude', 'city', 'population', 'AQI', 'CO', 'NO', 'NO2', 'O3', 'SO2', 'PM2_5', 'PM10', 'NH3',
       ]]
updated_pollution_df.sort_values(by='date')

,date,longitude,latitude,city,population,AQI,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3
0,2022-01-01,139.6917,35.6895,Tokyo,13929286,2,270.37,1.98,12.68,87.26,12.76,0.62,1.38,0.57
34372,2022-01-01,72.8777,19.0760,Mumbai,21558265,5,2510.07,3.07,75.40,331.88,64.85,380.18,429.92,19.51
34371,2022-01-01,72.8777,19.0760,Mumbai,21558265,5,3124.24,4.86,87.05,303.27,75.34,377.51,419.96,29.89
34370,2022-01-01,72.8777,19.0760,Mumbai,21558265,5,2777.10,6.48,78.14,223.16,70.57,271.77,306.46,32.93
34369,2022-01-01,72.8777,19.0760,Mumbai,21558265,5,2429.96,9.72,74.71,144.48,63.90,196.72,227.90,32.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51546,2023-01-01,-99.1332,19.4326,Mexico City,21782378,1,393.87,0.29,17.31,50.07,13.59,4.79,7.50,1.36
85918,2023-01-01,31.2357,30.0444,Cairo,20095952,2,313.76,0.04,22.62,28.25,13.83,20.83,36.78,2.53
42958,2023-01-01,72.8777,19.0760,Mumbai,21558265,5,1949.31,14.53,64.43,42.56,84.88,176.66,211.50,26.60
60141,2023-01-01,116.4074,39.9042,Beijing,21516000,5,1575.47,90.30,61.69,11.27,83.92,130.12,191.82,45.60
85919,2023-01-01,31.2357,30.0444,Cairo,20095952,2,357.15,0.40,33.59,19.13,21.46,21.64,36.60,3.07

In [19]:
updated_pollution_df.to_csv('air_pollution.csv')

In [21]:
import glob

In [25]:
# path where the CSV files are located
path = r'City_csv'

In [26]:
# get a list of all CSV files in the directory
all_files = glob.glob(path + "/*.csv")

In [27]:
# combine all CSV files into one dataframe
df = pd.concat((pd.read_csv(f) for f in all_files))

In [28]:
# write the combined data to a new CSV file
df.to_csv("combined_data.csv", index=False)

In [29]:
weather_data = pd.read_csv("combined_data.csv")

In [30]:
weather_data

,time,temperature_2m (°C),relativehumidity_2m (%),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),windspeed_100m (km/h),winddirection_10m (°),winddirection_100m (°),windgusts_10m (km/h),latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,2022-01-01T06:00,6.6,25.0,0.0,0.0,0,0,0,0,7.1,9.5,210.0,205.0,34.2,39.9042,116.4074,47,0,GMT,GMT
1,2022-01-01T07:00,6.2,21.0,0.0,0.0,0,0,0,0,7.0,9.4,235.0,227.0,38.2,39.9042,116.4074,47,0,GMT,GMT
2,2022-01-01T08:00,4.5,23.0,0.0,0.0,0,0,0,0,6.9,13.3,276.0,267.0,35.3,39.9042,116.4074,47,0,GMT,GMT
3,2022-01-01T09:00,2.0,25.0,0.0,0.0,0,0,0,0,9.3,21.3,283.0,274.0,30.2,39.9042,116.4074,47,0,GMT,GMT
4,2022-01-01T10:00,0.1,26.0,0.0,0.0,0,0,0,0,10.1,22.7,274.0,267.0,29.2,39.9042,116.4074,47,0,GMT,GMT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87775,2023-01-01T19:00,1.3,87.0,0.0,0.0,23,3,34,0,3.4,10.3,342.0,12.0,6.8,35.6895,139.6917,43,0,GMT,GMT
87776,2023-01-01T20:00,1.3,85.0,0.0,0.0,21,5,28,0,4.0,10.8,360.0,15.0,6.1,35.6895,139.6917,43,0,GMT,GMT
87777,2023-01-01T21:00,0.5,86.0,0.0,0.0,29,10,33,0,5.2,12.5,16.0,18.0,7.6,35.6895,139.6917,43,0,GMT,GMT
87778,2023-01-01T22:00,0.2,86.0,0.0,0.0,22,7,26,0,6.4,4.0,223.0,333.0,8.3,35.6895,139.6917,43,0,GMT,GMT
87779,2023-01-01T23:00,1.2,84.0,0.0,0.0,8,0,13,0,4.0,2.6,190.0,16.0,7.6,35.6895,139.6917,43,0,GMT,GMT

In [ ]:
full_data_df = pd.merge(weather_data,updated_pollution_df, right_on="latitude", left_on="latitude")